


* {
    margin: 2VW;
    color: #29BFFF;
    text-decoration:none;
    list-style: none;
    font-family: Helvetica, Sans-Serif
  }

iframe{
    border:2px solid rgb(255, 255, 255);
    width:80vw;
    height:30VW; 
    display: flex; justify-content: center;
    
}

h1{
    font-size: 6VW;
}

img{
    display: flex; 
    justify-content: center;      
}

div{
    padding: 0px,1000px;
    display: flex; 
    justify-content: center;   
}
