


* {
    margin: 0px;
    padding: 0px;
    color: #232323;
    text-decoration:none;
    list-style: none;
  }

iframe{
    border-style:none;
}

.game{
    width:80vw;
     height:30VW; 
     border: #232323;
}
